@import "~bootstrap/scss/bootstrap.scss";

.wholeCounter div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    height: 90px;
    background-color: black;
    color:white;
    padding:10px;
    margin-top: 10px;
}

.wholeCounter{
text-align: center;
}